.DS_Store
transient/history.el
.org-id-locations
bookmarks
/elpa/
/org-roam.db
/places
/projectile-bookmarks.eld
/savehist
/eln-cache/
/org-persist/
custom.el
/eshell/
/auto-save-list/
/elpkg-30.0/
/request/
/anaconda-mode/
/games/
/projects
/prescient-save.el
recentf
/tramp
/elpkg-29.1/
/site-lisp/
/tree-sitter/
multisession/files/emoji/emoji--recent.value
/straight/
/#init.el#
