/.DS_Store
/.gitattributes
/bookmarks
/auto-save-list/
/eln-cache/
/packages/
/org-persist/
/org-roam.db
/transient/
/.org-id-locations
/request/
/ltximg/
/snippets/.DS_Store
/modules/.DS_Store
/straight/
/places
/modules/custom.el
/img/.DS_Store
/url/
/.cache/
/games/
/.lsp-session-v1
/projectile-bookmarks.eld
/history
/emms/
/eshell/
.bookmarks.el
*.elc
custom.el
recentf
resources/.DS_Store
lisp/.DS_Store
tmp/.DS_Store
*.log
/tmp/
/xenops/
*.html
/dict/.DS_Store
/projectile.cache
/elpa/
/var/
/elpa-30.0/
/etc/
