.DS_Store
transient/history.el
.org-id-locations
bookmarks
/elpa/
/org-roam.db
/places
/projectile-bookmarks.eld
/savehist
/eln-cache/
/site-lisp/
/org-persist/
custom.el
/eshell/
/auto-save-list/
/tree-sitter/
